[submodule "mobility-frontend"]
	path = mobility-frontend
	url = https://github.com/rruirey/mobility-frontend
[submodule "mobility-backend"]
	path = mobility-backend
	url = https://github.com/rruirey/mobility-backend

